<div class="card">
    <div class="card-header">
        About {{author.name}}
    </div>
    <div class="card-body">
        <div class="row">
                <div class="col-md-4">
                      {% if author.avatar_url %}
                        <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/authors/{{author.avatar_url}}" alt="{{author.name}}" />
                      {% else %}
                        <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/authors/{{author.avatar}}" alt="{{author.name}}" />
                      {% endif %}
                </div>
                <div class="col-md-6">
                        {% if author.username == site.author_username %}
                            <p class="author_bio">{{site.author_bio}}</p>
                        {% else %}
                            <p class="author_bio">{{author.bio}}</p>
                        {% endif %}
                        <p>Email: {{author.email}}</p>
                        <p>Website: {{author.site}}</p>
                        <p class="profile-links">
                            {%- for network in author.social -%}
                                <a class="social-link" href="{{ network.url }}" target="_blank"><i class="bi bi-{{ network.title }}"></i></a>&nbsp;&nbsp;
                            {%- endfor -%}
                        </p>
                </div>
        </div>
    </div>
</div>
