---
layout: default
---
<div class="card">
  <div class="col-md-8 offset-md-2 offset-md-right">
    <h1>Author: {{ page.name }}</h1>
    <img src="{{site.url}}{{site.baseurl}}/assets/img/authors/{{ page.avatar}}" class="author-profile-img" />
    {% if page.username == site.author_username %}
        <p class="author_bio">{{site.author_bio}}</p>
    {% else %}
        <p class="author_bio">{{page.bio}}</p>
    {% endif %}
    {%- assign author_social = page.social -%}
    <p class="profile-links">
      {%- for network in author_social -%}
          <a class="social-link" href="{{ network.url }}" target="_blank"><i class="bi bi-{{network.title}}"></i></a>&nbsp;&nbsp;
      {%- endfor -%}
    </p>

    <h2>Posts by this author</h2>
    {%- assign author_posts = site.posts
    | where: "author", page.username
    -%}
    {%- for post in author_posts -%}
    <li><a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{ post.title }}</a></li>
    {%- endfor -%}
  </div>
</div>